/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.icon-park {
    color: darkcyan;
}
.icon-check {
    color: lightgreen;
}
.icon-lowbattery {
    color: slategray;
}
.icon-cycle {
    color: pink;
}
